  <tr>
    <td>
      Title
    </td>
    <td colspan="18">
      <%= alert["title"] %>
    </td>
    <td>
      Severity
    </td>
    <td>
      <%= alert["severity"] %>
    </td>
  </tr>

  <tr>
    <td class="RowWrap">
      Message
    </td>
    <td colspan="18">
      <%= alert["message"] %>
    </td>
    <td>
      Status
    </td>
    <td>
      <%= alert["status"] %>
    </td>
  </tr>

  <tr>
    <td class="RowWrap">
      Short Message
    </td>
    <td collspan="18">
      <%= alert["short_message"].present? ? alert["short_message"]:"&nbsp;" %>
    </td>
    <td>
      Acknowledge
    </td>
    <td>
      <%= alert["Acknowledge"]?"Yes":"None" %>
    </td>
  </tr>

  <tr>
    <td>
      Author
    </td>
    <td collspan="18">
      <%= alert["author"] %>
    </td>
    <td>
      Sensitive
    </td>
    <td>
      <%= alert["sensitive"].present? ? alert["sensitive"]:"&nbsp;" %>
    </td>
  </tr>

  <tr>
    <td>
      Created At
    </td>
    <td colspan="18">
      <%= alert["created_at"].strftime("%B %d, %Y %I:%M %p %Z") %>
    </td>
    <td>
      Created At
    </td>
    <td>
      Delivery Time
    </td>
    <td>
      <%= (alert["delivery_time"].to_i/60).to_s + " hours" %>
    </td>
  </tr>

  <tr>
    <td>
      Cross-Jurisdictional
    </td>
    <td>
      <%= alert["not_cross_jurisdictional"]?"Yes":"No" %>
    </td>
    <td>
      Methods
    </td>
    <td collspan="18">
      <%= alert["comm_methods"] %>
    </td>
  </tr>

  <tr>
    <%# total recipients %>
  </tr>


