<%- filtered = filters.present? ? "(FILTERED)" : "" -%>
<%- alert = report -%>

<table cellpadding="0" class="BreadnButter">

  <% if alert %>
    <table cellspacing="0" class="BreadnButter">
      <caption style="text-align:center">
        <%=  "Alert ID: #{alert['identifier']} #{filtered} as of #{alert['created_at']}" %>
      </caption>
      <%= render :partial => "detail", :locals => {:alert => alert} %>
    </table>
  <% end %>

  <% if alert && alert['audiences'] %>
    <table cellspacing="0" class="BreadnButter">
      <caption style="text-align:left">
        Audiences
      </caption>
      <%=  render :partial => 'audience', :collection => alert['audiences'] %>
    </table>
  <% end %>

  <table cellspacing="0" class="BreadnButter">
    <caption style="text-align:left">
      Acknowledgements
    </caption>
    <% if attempts && !attempts.empty? %>
      <tr>
        <th>
          Name
        </th>
        <th>
          Email Address
        </th>
        <th>
          Acknowledged with Device
        </th>
        <th>
          Alert Response
        </th>
      </tr>
      <%= render :partial => 'acknowledger', :collection => attempts %>
    <% else %>
      <td>
        No Acknowledgements Found
      </td>

    <% end %>
  </table>

</table>

<br>
<p>
  <%= "Report Generated #{filtered} on: #{Time.now.utc} for #{current_user.display_name}" %>
</p>


